.footer {
    width: 100%;
    background-image: linear-gradient(to top, #0a4da4 0%, #123575 100%);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: sticky;
    bottom: 0;
  }
  
  .footer-head {
    margin-bottom: 4px;
    font-size: 16px; 
  }
  
  .links {
    display: flex;
    justify-content: center;
  }
  
  .links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
  }
  
  .links a:hover {
    color: #ff0000;
  }